/**
* [Table of contents]
  1 1290px css
  2 1440px css
  3 1630px css
  4 1599px css
  5 1429px css
  6 1199px css
  7 991px css
  8 767px css
  9 575px css
  10 480px css
  11 350px css
/**

/* 1290px css */

@media only screen and (min-width: 1430px) {
  .container {
    max-width: 1290px;
  }
}

/* 1440px css */

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

/* 1630px css */

@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1630px;
  }
}

/* 1599px css */

@media only screen and (max-width: 1599px) {
  .home-banner {
    padding: 120px 0;
  }
}

/* 1429px css */

@media only screen and (max-width: 1429px) {
  /* Comman Css */
  .heading h2 {
    font-size: 40px;
  }
  .btn {
    font-size: 16px;
    padding: 8px 20px;
  }
  /* Header Css */
  li.nav-item .nav-link {
    font-size: 14px;
  }
  /*=== Home Page Section Css ===*/
  .home-banner {
    background: url("../images/fleeta-banner.png") no-repeat center right/55%;
  }
  .main-heading h1 {
    font-size: 55px;
  }
  .main-heading h1 br {
    display: none;
  }
  .home-icon a i {
    width: 60px;
    height: 60px;
    line-height: 21px;
    font-size: 25px;
  }
  /* You Can Expect Section Css */
  .expect-content h5 {
    font-size: 20px;
  }
  /* Effective Features Section Css */
  .effective-content h5 {
    font-size: 20px;
  }
  /* Contact Form Us Section Css */
  .contact-content h5 {
    font-size: 16px;
  }
  .contact-content h6 {
    font-size: 14px;
  }
  .contact-image {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  /*=== Home Page Section Css ===*/
}

/* 1199px css */

@media only screen and (max-width: 1199px) {
  /* Comman Css */
  .heading h2 {
    font-size: 35px;
    margin-top: 0;
  }
  body p {
    font-size: 14px;
  }
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }
  /*=== Home Page Section Css ===*/
  .home-banner {
    background: url("../images/fleeta-banner.png") no-repeat center right/62%;
  }
  .main-heading h1 {
    font-size: 48px;
  }
  /* You Can Expect Section Css */
  .expect-content h5 {
    font-size: 17px;
  }
  .expect-content p {
    font-size: 12px;
  }
  /* Modern Feature Section Css */
  .feature-bg {
    background: url("../images/new_home.png") no-repeat center left/45%;
    height: 70vh;
  }

  .dark-color {
    font-size: 16px;
    margin-bottom: 20px;
  }
  /* Effective Feature Section Css */
  .effetive-image::after {
    top: 60px;
    bottom: -50px;
  }
  .effective-content h5 {
    font-size: 17px;
  }
  .effective-content p {
    font-size: 12px;
  }

  /* Contact Form Section Css */
  .contact-content h5 {
    font-size: 14px;
  }
  .contact-content h6 {
    font-size: 13px;
  }
  .contact-image {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .contact-content address {
    font-size: 13px;
  }
  /*Footer Css */
  footer img {
    width: 180px;
  }
  /*=== Home Page Section Css ===*/

  /*=== Privacy Page Section Css ===*/
  .privacy-banner {
    padding: 30px;
  }
  /*=== Privacy Page Section Css ===*/
  /*=== FAQ Page Section Css ===*/
  .faq-banner {
    padding: 30px;
  }
  /*=== FAQ Page Section Css ===*/
}

/* 991px css */

@media only screen and (max-width: 991px) {
  /**********  Responsive Menu Bootstrap **********/
  .navbar-expand-lg > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  /**  menu  **/
  .navbar-toggler {
    width: 40px;
    height: 40px;
    line-height: 39px;
    padding: 0;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #ffbd3b;
    text-align: center;
    z-index: 99;
    display: block;
    transition: all 0.5s;
    margin-left: 20px;
  }
  .show-menu.navbar-toggler {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
  }
  .navbar-toggler span {
    position: relative;
    width: 60%;
    height: 2px;
    background-color: #362a52;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .navbar-toggler span::before,
  .navbar-toggler span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #362a52;
    right: 0;
    transition: all 0.5s;
    animation: openCloseByeSpan 300ms linear forwards;
  }
  .navbar-toggler span::before {
    top: -6px;
  }
  .navbar-toggler span::after {
    top: 6px;
  }
  .show-menu.navbar-toggler span::before,
  .show-menu.navbar-toggler span::after {
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
    top: -2px;
  }
  .show-menu.navbar-toggler span::after {
    transform: rotate(-45deg);
  }
  .show-menu.navbar-toggler span {
    height: 0;
  }
  .navbarNav {
    background: #fff;
    box-shadow: 0 0px 0 10px #fff inset, 0 0 0 11px #362a52 inset;
    padding: 60px 20px 15px;
    position: fixed;
    top: 0;
    right: 0;
    display: block !important;
    width: 100% !important;
    text-align: center;
    bottom: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
    height: max-content !important;
    overflow: auto;
  }
  .show-menu.navbarNav {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  /* Header Css */
  li.nav-item:nth-child(4) {
    margin-right: 0;
  }
  a.nav-link img {
    margin-right: 10px;
    margin-left: -23px;
  }
  li.nav-item .nav-link {
    margin: 0 0 30px 0;
    font-size: 18px;
  }
  header.fixed .navbar-nav .nav-item > .nav-link {
    color: #303952;
  }
  /* Comman Css */
  .heading h2 {
    font-size: 30px;
  }
  body p {
    font-size: 12px;
  }
  .dark-color {
    font-size: 14px;
    margin-bottom: 20px;
  }
  /*=== Home Page Section Css ===*/
  .main-heading h1 {
    font-size: 40px;
  }
  .home-icon a i {
    width: 55px;
    height: 55px;
    line-height: 16px;
    font-size: 20px;
  }
  /* You Can Expect Section Css */
  .expect-img {
    max-width: 60px;
    max-height: 60px;
    margin: 20px auto;
  }
  .expect-content h5 {
    font-size: 14px;
  }
  .feature-bg,
  .both-bg {
    height: 50vh;
  }
  .effetive-image::after {
    display: none;
  }
  /* Effective Feature Section Css */
  .effective {
    margin: 0 auto;
    margin-top: -20px;
  }
  .effective1 {
    margin-top: -60px;
  }
  .effective-bg {
    padding: 30px 0;
  }
  .effective-bg h2 {
    font-size: 27px;
  }
  .effective-img {
    max-width: 60px;
    max-height: 60px;
    margin: 20px auto;
  }
  .effective-content h5 {
    font-size: 14px;
  }
  .effetive-image::after {
    top: 103px;
  }
  .effetive-image::after {
    display: none;
  }
  .effetive-image {
    margin-top: 5px;
  }

  /* Contact Section Css */
  .contact-image {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .contact-border {
    border-right: none;
    border-bottom: 2px solid #fff9eb;
  }
  .contact-head {
    text-align: center;
  }
  .contact-content h5 {
    margin-top: 5px;
  }
  /* Footer Css */
  .footer-icon li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  .footer-content li {
    padding: 0 10px;
  }
  .footer-content li a {
    font-size: 14px;
  }
  .footer-navbar-brand {
    text-align: center;
  }
  /*=== Home Page Section Css ===*/

  /* Our Author Section Css */
  .head h2 br {
    display: none;
  }

  /*=== FAQ Page Section Css ===*/
  .faq-banner {
    padding: 15px;
  }
  /*=== FAQ Page Section Css ===*/
  /*=== Privacy Page Section Css ===*/
  .privacy-banner {
    padding: 15px;
  }
  /*=== Privacy Page Section Css ===*/
}

/* 767px css */

@media only screen and (max-width: 767px) {
  /* Header Css */
  .navbar-brand {
    width: 130px;
  }
  /* Comman Css */
  .heading h2 {
    font-size: 25px;
  }
  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }
  /*=== Home Page Section Css ===*/
  .home-banner {
    padding: 80px 0;
    background: url("../images/fleeta-banner.png") no-repeat center right/75%;
  }
  .banner-content {
    max-width: 500px;
    margin: 0 auto 50px;
    text-align: center;
    background: hsla(0, 0%, 100%, 0.3);
    box-shadow: 0 20px 40px 0 rgba(43, 35, 79, 0.08);
    padding: 25px;
    border-radius: 10px;
  }
  .home-icon p span {
    display: none;
  }
  .main-heading h1 {
    font-size: 35px;
    margin-bottom: 0;
  }
  .main-heading h1 br {
    display: block;
  }
  /* You Can Expect Section Css */
  .expect-content h5 {
    font-size: 14px;
  }
  .expect-content-bg {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  /* Modern Feature Section Css */
  /* Effective Feature Section Css */
  .effective-content-bg {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .effetive-image::after {
    display: none;
  }
  .effective1 {
    margin-top: 0px;
  }
  /* Contact Form Section Css */
  .contact-us .media:nth-child(2) {
    margin-left: 30px;
  }
  /* Footer Css */
  footer img {
    width: 150px;
  }
  .footer-content li {
    margin-top: 5px;
  }
  .footer-icon li:nth-child(1) {
    margin-left: -40px;
  }
  .footer-content li:nth-child(1) {
    margin-left: -50px;
  }
  /*=== Home Page Section Css ===*/

  /*=== Privacy Page Section Css ===*/
  .policy-content {
    padding: 30px;
  }
  /*=== Privacy Page Section Css ===*/
  /*=== FAQ Page Section Css ===*/
  .accordion-header {
    font-size: 14px;
  }
  .accordion-body__contents {
    font-size: 12px;
  }
  .accordion__item > .accordion-header::after {
    top: -2px;
  }
  .accordion__item > .accordion-header::before {
    top: -2px;
  }
  /*=== FAQ Page Section Css ===*/
}

/* 575px css */

@media only screen and (max-width: 575px) {
  /* Comman Css */
  .heading h2 {
    font-size: 22px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
  }
  /*=== Home Page Section Css ===*/
  .home-banner {
    background: url("../images/fleeta-banner.png") no-repeat center right/80%;
  }
  .banner-content {
    max-width: 400px;
    margin: 0 auto 50px;
    text-align: center;
    background: hsla(0, 0%, 100%, 0.3);
    box-shadow: 0 20px 40px 0 rgba(43, 35, 79, 0.08);
    padding: 25px;
    border-radius: 10px;
  }
  .main-heading h1 {
    font-size: 30px;
  }
  /* Modern Feature Section Css */
  .feature-bg {
    background: transparent;
    height: 100%;
    margin: 0;
    padding-bottom: 0;
  }
  .both-bg {
    background: transparent;
    height: 100%;
    margin: 0;
  }
  /* Footer Css */
  .footer-content {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-content li:nth-child(1) {
    margin-left: -35px;
  }
  .footer-content li {
    margin-top: 0;
  }
  .footer-icon {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  /*=== FAQ Page Section Css ===*/
  .accordion-header {
    font-size: 12px;
  }
  .accordion__item > .accordion-header::after {
    top: -2px;
    left: 30px;
  }
  .accordion__item > .accordion-header::before {
    top: -2px;
    left: 0;
  }
  /*=== FAQ Page Section Css ===*/
}

/* 480px css */

@media only screen and (max-width: 480px) {
  /* Header Css */
  li.nav-item .nav-link {
    font-size: 14px;
  }
  .navbar-toggler {
    width: 35px;
    height: 35px;
    line-height: 34px;
  }
  .navbar-brand {
    width: 110px;
  }
  /* Comman Css */
  .heading h2 {
    font-size: 20px;
  }
  /*=== Home Page Section Css ===*/
  .main-heading h1 {
    font-size: 25px;
  }
  .home-icon {
    margin: 30px 0;
  }
  .home-icon a i {
    width: 45px;
    height: 45px;
    line-height: 5px;
    font-size: 18px;
    padding-left: 15px;
  }
  .home-banner {
    padding: 40px 0 0;
  }
  /* You Can Expect Section Css */
  .expect-img {
    max-width: 50px;
    max-height: 50px;
  }

  /* Contact Form Section Css */
  .contact-image {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .contact-us .media:nth-child(2) {
    margin-left: 10px;
    /* margin-top: 20px; */
  }
  .contact-us {
    margin-bottom: 20px;
  }
  .contact-form-bg i {
    margin-left: 0px;
    font-size: 18px;
  }
  .contact-form-bg {
    padding: 0px 20px 2px 20px;
    margin-bottom: 10px;
  }

  .line-img {
    max-width: 70px;
  }
  /* Footer Css */
  footer img {
    width: 130px;
  }

  .accordion__item > .accordion-header::before {
    width: 20px;
    height: 20px;
  }
  .accordion__item > .accordion-header::after {
    width: 20px;
    height: 20px;
    left: 20px;
  }
  .accordion__item > .accordion-header::after:nth-child(3) {
    left: 10px;
  }
}

/* 350px css */

@media only screen and (max-width: 350px) {
  /* Comman Css */
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
